<nav class="navbar navbar-light bg-light">
    <div>
        <h4 routerLink="/home" class="hover">
            Staging Style
        </h4>
        <button class="btn btn-light my-0 mx-3" [routerLink]="['/home']">Home</button>
    </div>

    <div>
        <div id="countryDisplay" class="mx-1">
            <img [src]="countryImg" id="flag"><h6 style="margin:auto">{{country}}</h6>
        </div>
        <button class="btn btn-light my-0 mx-1" [routerLink]="['/cart']">Cart</button>
        <button class="btn btn-outline-danger my-sm-0 mx-1" (click)="logout();">Logout</button>
    </div>
</nav>
